*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #17408B;
  background-image: url(./assets/background.jpg);
  background-size: 1500px 1500px;
  background-position: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #C9082A;
}

.card-container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}

.card-image{
  width: 100%;
  border-bottom: 1px solid black;
}

.card-title{
  margin: 7px 0;
  color: white;
}

.card-outer-container{
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  padding: 3vmax 0;
  align-items: center;
  justify-content: space-evenly;
  background-color:rgba(255,255,255, 0.7);
}

.scoreboard{
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.scoreboard > h2{
  font-size: 1.5vmax;
}

.title{
  font-size: 2vmax;
  text-align: center;
}